# Store URL for 7Speaking
VITE_STORE_URL=https://7speaking.com/es/tienda

# Azure OpenAI Configuration
VITE_AZURE_OPENAI_ENDPOINT=your-azure-openai-endpoint
VITE_AZURE_OPENAI_API_KEY=your-azure-openai-api-key
VITE_AZURE_OPENAI_DEPLOYMENT=gpt-4o
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzBjrWs8DTT2rinDE7-LeIZ4XaqGcLIDOAk_ZywjUh-cD3YyWKLmF9NXziz3cyuRQKD/exec
